body,html{
  margin: 0;
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input:focus, textarea:focus, button {
  outline: none;
}

